{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            {% if current_user.profile_picture and current_user.profile_picture != "default.png" %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/uploads/' + current_user.profile_picture) }}">
            {% else %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile/default.png') }}">
            {% endif %}
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        {% include "blog/user/forms/inc/profile.html" %}
    </div>
{% endblock content %}
