{% extends "base.html" %}
{% block content %}
    <section class="About-Section text-center">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="display-4 mb-4">About Our Blog</h1>
            <p class="lead">Welcome To Our Little Corner of The Internet, Where Words Come Alive And Ideas Flourish, Our Blog Is a Tapestry Woven From The Threads of Our Passions, Experiences and Perspectives</p>
            <p>We Are a Team of Avid Writers, Thinkers and Dreamers, United By Our Love For Storytelling and Our Insatiable Curiosity About The World Around Us, From Thought-Provoking Articles To Heartwarming Tales, Our Blog Isa Kaleidoscope of Narratives That Will Ignite Your Imagination and Spark Your Curiosity</p>
        </div>
        </div>
    </div>
    </section>
    <section class="Support-Section text-center">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2 class="mb-4">Support Our Work</h2>
            <p>If Our Words Have Resonated With You and You'd Like To Show Your Appreciation, Consider Buying Us a Coffee, Your Support Means The World To Us and Fuels Our Passion For Creating Content That Inspires and Enriches</p>
            <div class="text-center mb-5">
            <a href="https://www.coffeebede.com/skydesperado">
                <img class="img-fluid" src="https://coffeebede.ir/DashboardTemplateV2/app-assets/images/banner/default-yellow.svg" style="max-width: 200px; height: auto;" alt="Buy Me A Coffee">
            </a>
            </div>
        </div>
        </div>
    </div>
    </section>
{% endblock content %}
<style>
    .About-Section {
        padding: 100px 0;
        background-color: #f8f9fa;
        text-align: center;
    }
    .Support-Section {
        padding: 80px 0 120px;
        background-color: #e9ecef;
        text-align: center;
    }
</style>
