{% extends "base.html" %}
{% block content %}
    <h1 class="mb-3">Search: {{ query }}</h1>
    {% for post in posts.items %}
        <article class="media content-section">
            {% if post.author.profile_picture and post.author.profile_picture != "default.png" %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/uploads/' + post.author.profile_picture) }}">
            {% else %}
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile/default.png') }}">
            {% endif %}
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.created_at.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('retrieve_post', post_id=post.id) }}">{{ post.title }}</a></h2>
                {% if post.post_picture %}
                    <div class="mb-3 text-center">
                        <img class="img-fluid rounded border border-secondary" src="{{ url_for('static', filename='images/uploads/' + post.post_picture) }}" alt="Post Picture" style="max-width: 100%; max-height: 100%; border-radius: 18px;">
                    </div>
                {% endif %}
                <p class="article-content">{{ post.content}}</p>
            </div>
        </article>
    {% endfor %}
    {% for page_number in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_number %}
            {% if posts.page == page_number %}
                <a class="btn btn-info mb-4" href="{{ url_for('search', query=query, page=page_number) }}">{{ page_number }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('search', query=query, page=page_number) }}">{{ page_number }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}
